<%- layout('layout') %>
<div class="crumbs">
                    <ul>
                        <li><a href="http://localhost:3000/">Home</a></li>
                        <li><a href="http://localhost:3000/contact">Contact</a></li>
                    </ul>
                </div>
                     <div class="view-comments">
                              <div class="comments">
                                 <div class="author-thumb">
                                    <img src="images/author-comment4.jpg" alt="">
                                 </div>
                                 <div class="comment-body">
                                    <h6>Crystal Mya</h6>
                                    <span class="date">14 Sep 2084 - 05:16 PM</span>
                                    <a href="#" class="hidden-xs">Reply</a>
                                    <p>Suspendisse vitae maximus nisl, non finibus ante. Suspendisse neque nisl, luctus ullamcorper erat a, fermentum mollis nibh. Aliquam vulputate augue vel metus suscipit euismod. Quisque id purus massa. Sed condimentum facilisis eros, ultrices tincidunt libero facilisis eget. Integer eget cursus velit.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="divide-line">
                           <img src="images/div-line.png" alt="" />
                        </div>
                        <div class="leave-comment">
                           <div class="leave-one">
                              <h4>Leave a comment</h4>
                           </div>
                        </div>
                        <div class="leave-form">
                           <form action="#" method="post" class="leave-comment">
                              <div class="row">
                                 <div class="name col-md-4">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                 </div>
                                 <div class="email col-md-4">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                 </div>
                                 <div class="subject col-md-4">
                                    <input type="text" name="subject" id="subject" placeholder="Subject" />
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="text col-md-12">
                                    <textarea name="text" placeholder="Comment"></textarea>
                                 </div>
                              </div>
                              <div class="send">
                                 <button type="submit">Send</button>
                              </div>
                           </form>
                        </div>
                     </div>
                     <!-- <div class="col-md-3 col-md-offset-1">
                        <div class="side-bar">
                           <div class="news-letters">
                              <h4>Archives</h4>
                              <div class="archives-list">
                                 <ul>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>July (12)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>August (18)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>September (72)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>October (63)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>November (48))</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i>December (24)</a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="recent-post">
                              <h4>Recent Posts</h4>
                              <div class="posts">
                                 <div class="recent-post">
                                    <div class="recent-post-thumb">
                                       <img src="images/recent-post1.jpg" alt="">
                                    </div>
                                    <div class="recent-post-info">
                                       <h6><a href="#">Vestibulum molestie odio sit amet</a></h6>
                                       <span>24 Sep 2084</span>
                                    </div>
                                 </div>
                                 <div class="recent-post">
                                    <div class="recent-post-thumb">
                                       <img src="images/recent-post2.jpg" alt="">
                                    </div>
                                    <div class="recent-post-info">
                                       <h6><a href="#">Vivamus mattis quam eget urna tincidunt</a></h6>
                                       <span>22 Sep 2084</span>
                                    </div>
                                 </div>
                                 <div class="recent-post">
                                    <div class="recent-post-thumb">
                                       <img src="images/recent-post3.jpg" alt="">
                                    </div>
                                    <div class="recent-post-info">
                                       <h6><a href="#">Curabitur in nunc eget neque posuere</a></h6>
                                       <span>21 Sep 2084</span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="advertisement">
                              <h4>Flickr news</h4>
                              <div class="flickr-images">
                                 <div class="row">
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image1.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image2.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image3.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image4.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image1.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image2.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image3.jpg" alt="">
                                    </div>
                                    <div class="col-md-4 col-sm-2 col-xs-3">
                                       <img src="images/flickr-image4.jpg" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> -->